html,body{
    height: 100%;
    background-color: rgb(75, 191, 107);
    margin-bottom: 0;
    margin-top: 0;
}

.board-canvas {
    position: relative;
    flex-grow: 1;
}
/* Button */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.board-content{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    overflow-x: auto;
    overflow-y: hidden;
}
.board-header{
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;
    transition: padding .1s ease-in;
}

.board{
    user-select: none;
    white-space: nowrap;
    /* margin-bottom: 8px; */
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-bottom: 8px; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    position:absolute;

    display: flex;
    flex-grow: 1;
}

.list-wrapper{
    flex: 1 0 auto;
    width: 272px;
    max-width: 272px;
    min-width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    /* overflow:auto; */
}
.list{
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header{
    flex: 0 0 auto;
    padding: 10px 8px;
    margin:0;
    position: relative;
    min-height: 20px;
}

h2{
    margin: 0;
}
.list-cards{
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    /* z-index: 1; */
    min-height: 2rem;
}

.placeholder-list{
    background-color: #5a565a6c;
    width: 272px;
    max-width: 272px;
    min-width: 272px;
}

.placeholder-card{
    background-color: rgba(44, 41, 41, 0.24);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    display:block;
    margin-bottom: 8px;
    /* z-index: 1; */
}

.list-card{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.list-card-cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;
}
.list-card.is-covered, .list-card-cover {
    border-radius: 3px 3px 0 0;
}

.list-card-labels {
    overflow: auto;
    position: relative;
}

.card-label.mod-card-front {
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
}

.card-label {
    background-color: #b3bac5;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin-right: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 4px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-label-green {
    background-color: #61bd4f;
}

.card-label-yellow {
    background-color: #f2d600;
}

.list-card-detail{
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

.badges {
    float: left;
    max-width: 100%;
    margin-left: -2px;
}
.badge {
    color: #5e6c84;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    position: relative;
    padding: 2px;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
}

.list-card-members {
    float: right;
    margin: 0 -2px 0 0;
}

.list-card-members .member {
    height: 28px;
    width: 28px;
    float: right;
    margin: 0 0 4px 4px;
}

.member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 0;
}